#container {
	margin: 0px auto;
	/* width: 500px;
	height: 375px; */
	/* border: 10px #333 solid; */
}

#videoElement {
	/* width: 500px;
	height: 375px; */
  background-color: #666;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.UserVidContainer__replay-container {
  position: absolute;
  right: 0;
  top: 0;
}

/* .UserVidContainer__replay-window {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
} */

.UserVidContainer__close-replay-btn {
  position: absolute;
  z-index: 30;
}

/* Indicate status when webcam is recording */
.UserVidContainer__recording-status {
  display: flex;
  justify-content: center;
}

.UserVidContainer__recording-status > span {
  color: rgb(66, 157, 82);
  font-size: 1.3em;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 5px;

  animation: loading-glow 0.6s infinite;
  animation-direction: alternate;
}

@keyframes loading-glow {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Timebar */
.UserVidContainer__timebar {
  background: red;
}