.VidControlsContainer__main-container {
  margin: 0 auto;
  z-index: 30;
}

.VidControlsContainer__speed-buttons {
  display: flex;
  justify-content: center;
}

.VidControlsContainer__speed-buttons > button {
  transition: all 0.4s;
}

.VidControlsContainer__speed-buttons > button:hover {
  background: rgba(23, 140, 148, 0.829);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.753);
}