body {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* constants and themes */
button.button {
  color: rgba(255, 255, 255, 0.886);
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  margin: 0.5em 0.3em;
}

button.standard-btn {
  background: #2C4870;
}

button.danger-btn {
  background: red;
}

button.positive-btn {
  background: green;
}

button.disabled-btn {
  background: grey;
}

span.label {
  font-weight: bold;
  font-size: 1.5em;
  display: block;
}

.mirrored {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}